# sync_check Configuration.

log-level = "info"

# for example, the whole data is [1...100]
# we can split these data to [1...10], [11...20], ..., [91...100]
# the [1...10] is a chunk, and it's chunk size is 10
# splited chunk's size
chunk-size = 1000

# how many goroutine created to check data
check-thcount = 4

# use split-field to split data to several chunk
#split-field = "id"

# sampling check percent, for example 10 means only check 10% data
sample = 10

ï¼ƒ set true if target-db and source-db all support tidb implicit column "_tidb_rowid"
use-rowid = false

# fix different data in target-db if fix_data is true
fix_data = false

# if check-table is nil, will check all tables in the schema. 
[[check-table]]
# table name.
table = "test"

# field should be the primary key, unique key or field with index. 
# if comment this, sync_check will find a suitable field.
field = "id"

# check data's range
# range = "age > 10 AND age < 20"

[target-db]
host = "127.0.0.1"
user = "root"
password = ""
# schema name
name = "test"
port = 4000

[source-db]
host = "127.0.0.1"
user = "root"
password = ""
# schema name
name = "test"
port = 3306
