# Diff Configuration.

######################### Global config #########################

check-thread-count = 4

export-fix-sql = true

check-data-only = false

skip-non-existing-table = true

######################### Datasource config #########################
[data-sources]
[data-sources.mysql1]
    host = "127.0.0.1"
    port = 4000
    user = "root"
    password = ""
    sql-hint-use-index = "auto"

[data-sources.tidb0]
    host = "127.0.0.1"
    port = 35495
    user = "root"
    password = ""
    sql-hint-use-index = "auto"

######################### Task config #########################
[task]
    output-dir = "./output"
    source-instances = ["mysql1"]
    target-instance = "tidb0"
    target-check-tables = ["test.bis_batch_metadata"]
	target-configs= ["config1"]

[table-configs]
[table-configs.config1]
target-tables = ["test.bis_batch_metadata"]
chunk-size = 50
range = "1 = 1"